<?xml version="1.0"?>
<phpunit printerClass="iakio\phpunit\GrowlPrinter"
         printerFile="vendor/iakio/phpunit-growlprinter/src/iakio/phpunit/GrowlPrinter.php">
    <testsuite name="tests">
        <directory>tests</directory>
    </testsuite>
    <listeners>
        <listener class="iakio\phpunit\smartrunner\DependencyListener"></listener>
    </listeners>
</phpunit>
